.App {
  background-color: #121111;
}

.dropdown-menu.show {
  position: absolute;
  left: -100px;
  background-color: #343a40;
}
.dropdown-item:hover {
  color: #000 !important;
}

.films {
  overflow: auto;
}
.movie-riga {
  border-radius: 30%;
}
